body {
    background-color: #f7ebec;
}

a,h1,h2,h3,h4,h5,h6 {
    color: #2b1c1d;
    text-decoration: none;
    font-family: monospace;
}

.container {
    color: #2b1c1d;
    text-decoration: none;
    font-family: monospace;
    text-align: center;
}

.inputForm[type=text] {
    color: #2b1c1d;
    background-color: #f7ebec;
    resize: none;
    box-sizing: border-box;
    width: 70%;

}
